streamlit==1.28.0
numpy
pandas
langchain
langgraph
langchain-groq
langchain-huggingface
langchain-core
langchain-chroma
langchain-community
chromadb
huggingface-hub
altair==4.2.2
vega_datasets==0.9.0
sentence-transformers
